.bdycont{
    width: 60%;
    height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
    background-color: aliceblue;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
    margin-bottom: 20px;
.box{
    overflow-y: hidden;
    width: 100%;
    
    display: flex;
    justify-content: center;
    margin: 20px;
    // margin-left: 40px;
    .carousel{
        position: relative; 
    width: 40%; 
    height: 20%;
        .image-carousel{
           display: flex;
           align-items: center;
           justify-content: center;
        }
    }
    
}
}