.footer {
    height: auto !important;;
    background: #6364D5;
}
.section_heading {
    padding: 4rem  4rem;
}
.sb_footer {
    display: flex;
    flex-direction: column;
}
.sb_footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}
.sb_footer-links_div{
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #fff;
}
a {
    text-decoration: none;
    color: rgb(175, 175, 179);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.socialmedia img {
    width: 80%;
}
.sb_footer-links_div h4 {
    font-size: 1.5rem;
    line-height: 17px;
    margin-bottom: 0.9rem;
}
.sb_footer-links_div p {
    font-size: 1.2rem;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}
.sb_footer-below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}
.sb_footer-below-links {
    display: flex;
    flex-direction: row;
}
.sb_footer-below-links p {
    font-size: 13px;
    line-height: 15px;
    margin-left:2rem;
    color: #fff;
    font-weight: 600;
}
hr{
    color: #fff !important;
    width: 100%;
}
.sb_footer-copyright {
   font-size: 13px;
    line-height: 15px;
    color:#fff;
    font-weight: 600;
}
@media  screen and (max-width: 850px) {
    .sb_footer-heading h1{
       font-size: 44px;
       line-height: 50px;
    }
}
@media screen and (max-width: 550px) {
    .sb_footer-heading h1{
       font-size: 34px;
       line-height: 40px;
    }
    .sb_footer-links_div{
        margin: 1rem 0;
    }
    .sb_footer-btn p{
        font-size: 1.2rem;
        line-height: 20px;
    }
    .sb_footer-below{
        flex-direction: column;
        justify-content: left;
    }
    .sb_footer-below-links{
        flex-direction: column;
    }
    .sb_footer-below-links p{
        margin-left: 0;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .sb_footer-heading h1{
       font-size: 24px;
       line-height: 30px;
    }
    .sb_footer-links_div{
        margin: 1rem 0;
    }
    .sb_footer-btn p{
        font-size: 1.2rem;
        line-height: 20px;
    }
    .sb_footer-below{
        flex-direction: column;
        justify-content: left;
    }
    .sb_footer-below-links{
        flex-direction: column;
    }
    .sb_footer-below-links p{
        margin-left: 0;
        margin-top: 1rem;
    }
}
